@using SportsClothes.UI.WEBAPP.Models.Dto
@using SportsClothes.UI.WEBAPP.Models
@using SportsClothes.INTERFACES
@using SportsClothes.CORE
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime
@page "/products/{Id:int}"

<PageTitle>Edit</PageTitle>
<h3>Edit product</h3>

@if (_producers.Count != 0)
{
    <form @onsubmit="UpdateProduct">
        <div class="row">
            <div class="w-50 mb-3">
                <div class="form-group">
                    <label for="name">*Name:</label>
                    <input id="name" class="form-control" @bind="_updatedProduct.Name" required minlength="3" maxlength="25" />
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="size">*Size:</label>
                    <input id="size" class="form-control" @bind="_updatedProduct.Size" required minlength="1" maxlength="2" />
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="color">*Color:</label>
                    <input id="color" class="form-control" @bind="_updatedProduct.Color" required minlength="3" maxlength="25" />
                </div>
            </div>

            <div class="w-50 mb-3">
                <div class="form-group">
                    <label for="price">*Price (zł):</label>
                    <input id="price" class="form-control" @bind="_updatedProduct.Price" type="number" min="0" max="99999" step="0.01" required/>
                </div>
            </div>

            <div class="w-25 mb-3">
                <div class="form-group">
                    <label for="type">*Type:</label>
                    <select id="type" class="form-control" @bind="_updatedProduct.Type">
                        <option value="@ProductType.Shoes">Shoes</option>
                        <option value="@ProductType.Jacket">Jacket</option>
                        <option value="@ProductType.Pants">Pants</option>
                        <option value="@ProductType.TShirt">TShirt</option>
                        <option value="@ProductType.Hoodie">Hoodie</option>
                    </select>
                </div>
            </div>

            <div class="w-25 mb-3">
                <div class="form-group">
                    <label for="producer">*Producer:</label>
                    <select id="producer" class="form-control" @bind="_updatedProduct.ProducerId" required>
                        @foreach (var producer in _producers)
                        {
                            <option value="@producer.Id">@producer.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
            <button class="btn btn-danger mb-3" @onclick="Cancel" @onclick:preventDefault>Cancel</button>
        </div>

    </form>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private IProductDto _updatedProduct = new ProductDto();
    private IList<ProducerData> _producers = new List<ProducerData>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProduct();
        await LoadProducerInfo();
    }

    private async Task LoadProduct()
    {
        try
        {
            var response = await HttpClient.GetFromJsonAsync<ProductDto>($"api/products/{Id}");

            if (response != null)
            {
                _updatedProduct = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task LoadProducerInfo()
    {
        try
        {
            var response = await HttpClient.GetFromJsonAsync<IList<ProducerData>>("api/products/producers");

            if (response != null)
            {
                _producers = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task UpdateProduct()
    {
        var response = await HttpClient.PutAsJsonAsync($"api/products/update/{Id}", _updatedProduct);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
            return;
        }

        await JsRuntime.InvokeVoidAsync("alert", "Could not update product. Please try again later.");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }

}
